.heading
  {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px rgb(26, 61, 15);
  }
  .note
  {
    font-size: 15px;
    color: black;
  }
  .copy_right_footer {
    position: fixed;
    color: rgb(133, 230, 181);
    bottom: 0;
    width: 100%;
    background-color:rgb(62, 109, 48);
    line-height: 3;
    text-align: center;
 }
  canvas 
  {
    border:5px solid rgb(195, 247, 185);
    border-radius:20px;
    box-shadow:5px 5px 5px grey;
  }
 
